<?xml version="1.0" encoding="utf-8"?>
<widget id="io.sjelkjd.BattleNet" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>BattleNet</name>
  <description>Battle.Net profile viewer</description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">Alan Gasperini</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="10.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="KeepRunning" value="True" />
  <preference name="ShowTitle" value="True" />
  <preference name="InAppBrowserStorageEnabled" value="True" />
  <preference name="SuppressesIncrementalRendering" value="True" />
  <plugin name="cordova-plugin-inappbrowser" version="1.0.1" />
  <plugin name="cordova-plugin-whitelist" version="1.1.0" />
</widget>