body {
}

#profilePicture {
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	position: relative;
	right: 17.31px;
	top: 23.07px;
	z-index: -4;
}

#displayRoot {
}

#games {
	height: 200px;
}

#rewards {
	top: 130px;
	height: 300px;
}

#achievements{
	top: 430px;
	height: 300px;
}

#displayName {
	left: 166px;
	position: relative;
	font-size: 3em;
}

#profileBorder {
	width: 131px;
	height: 136px;
	left: 166px;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#listsContainer {
	top: 133px;1		
}
